article#skills section h4 {
	width:350px;  
	display:inline-block;
	padding:0;
	margin:0;

}
article#skills section h4:after {
	content:':';
}
article#skills div.skill {
	display:block;
	padding:5px;
	padding-left:0;
}
article#skills span.rating {
}
hr {
    border-top: 1px solid #B8B8B8;
}