#header {
  background-image: url(/images/arches.png);
  background-repeat: repeat;
  border-bottom: 1px solid #4d1eb3;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Raleway, 'Open Sans', Arial, sans-serif;
}
#header-text {
  font-size: 20pt;
  color: black;
}
#header-text:hover {
  text-decoration: none;
}
.nav-links {
  padding-top: 15px;
}
.nav-link {
  padding-top: 10px;
}
.nav-link a {
  color: black;
}
#main-aside {
  border-top: 16px solid #3f1990;
  padding: 0 20px 15px;
  text-align: justify;
  background-color: #eee;
}

article header {
  padding-bottom: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway, 'Open Sans', Arial, sans-serif;
}
h2 {
  color: #1F1D24;
}
h3 a {
  color: #000;
}

#footer {
  padding: 15px 0 15px;
  margin-top: 10px;
  border-top: 1px solid #aaa;
}



.text-center-xs {
    text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }
}