<div class="navbar"  id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 text-center-xs text-left-sm">
        <a href="/" id="header-text">
          <img id="lamp" src="/images/lamp.png" alt="lamp" /> A Light on Few Street
        </a>
      </div>
      <div class="nav-links">
        <div class="nav-link col-xs-12 col-sm-1">
          <a href="/index.html">Home</a>
        </div>
        <div class="nav-link col-xs-12 col-sm-1">
          <a href="/skills.html">Skills</a>
        </div>
        <div class="nav-link col-xs-12 col-sm-1">
          <a href="https://github.com/pddenhar">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>